tr.selected {
  background-color: #eb4343;
}

#table-container {
  max-height: 400px; /* Ajusta la altura según sea necesario */
  overflow-y: auto;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #343a40; /* Asegúrate de que coincida con el color de la tabla */
  z-index: 1;
}
