<h3>Outstanding balance</h3>

<div class="container">
  <div class="row">
    <div class="col card shadow m-3 p-3">
      <!-- Botones de acción -->
      <div class="d-flex gap-2">
        <button class="btn btn-sm btn-success" (click)="openCreateModal()">
          Create
        </button>
        <button
          class="btn btn-sm btn-warning"
          [disabled]="!currentTransaction"
          (click)="openEditModal()"
        >
          Edit
        </button>
        <button
          class="btn btn-sm btn-danger"
          [disabled]="!currentTransaction"
          (click)="openDeleteModal()"
        >
          Delete
        </button>
      </div>
    </div>
    <div class="col card shadow m-3 p-3">
      <div class="totals">
        <!-- Totales -->
        <p>Total B {{ totals.totalB | currency }}</p>
        <p>Total N {{ totals.totalN | currency }}</p>
        <p>Total Balance: {{ totals.totalBalance | currency }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Tabla de transacciones -->
<div class="container-fluid">
  <div class="table-responsive" id="table-container">
    <table class="table table-striped table-hover align-middle table-sm">
      <thead class="table-dark">
        <tr>
          <th scope="col">#Id</th>
          <th scope="col">Date</th>
          <th scope="col">Number</th>
          <th scope="col">Type</th>
          <th scope="col">Income</th>
          <th scope="col">Expense</th>
          <th scope="col">Description</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="
            let transaction of transactionList;
            let i = index;
            trackBy: trackByFn
          "
          (click)="selectTransaction(transaction)"
          (Keyup)="selectTransaction(transaction)"
          [class.selected]="transaction === currentTransaction"
        >
          <td>{{ transaction.transactionId }}</td>
          <td>{{ transaction.date | date : "dd-MM-yyyy" }}</td>
          <td>{{ transaction.transactionNumber }}</td>
          <td>{{ transaction.type }}</td>

          <!-- Ingresos -->
          <td *ngIf="transaction.type === 'invoice'">
            {{ transaction.amount | currency }}
          </td>
          <td *ngIf="transaction.type !== 'invoice'">-</td>

          <!-- Egresos -->
          <td *ngIf="transaction.type === 'recipe'">
            {{ transaction.amount | currency }}
          </td>
          <td *ngIf="transaction.type !== 'recipe'">-</td>

          <td>{{ transaction.description }}</td>

          <!-- Calcular balance acumulado -->

          <td [style.color]="calculateBalance()[i] < 0 ? 'red' : 'black'">
            {{ calculateBalance()[i] | currency }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
