<div class="container">
  <!-- 

    @if (loading) {
      <h5>Loading....</h5>
    } @if (!loading) {
    }
  -->

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p>Id : {{ supplier?.id }}</p>
        <p>Mi numero de cliente</p>
        <p>Name : {{ supplier?.name }}</p>
        <p>Legal Name : {{ supplier?.legalName }}</p>
        <p>Domicilio</p>
        <p>Codigo Postal</p>
        <p>Localidad</p>
        <p>Provincia</p>
        <p>Pais</p>
        <p>Tax Id : {{ supplier?.taxId }}</p>
        <p>Categoría impositiva</p>
      </div>
      <div class="col-md-3">
        <p>Codigo de area</p>
        <p>telefono</p>
        <p>movil</p>
        <p>email</p>
        <p>web</p>
        <p>viajante</p>
      </div>
      <div class="col-md-3">
        <p>Valor dolar</p>
        <p>id comision</p>
        <p>id prodeedor remoto</p>
        <p>fecha lista</p>
        <p>fecha costo</p>
        <p>Cuenta corriente valuada en</p>
        <p>Datos extras</p>
      </div>
    </div>
  </div>
</div>
