<div class="container">
  <form
    [formGroup]="categoryForm"
    enctype="multipart/form-data"
    class="g-3 needs-validation"
    novalidate
    (submit)="enviar($event)"
  >
    <div class="mb-3">
      <label for="categoryNameInput" class="form-label">Category Name:</label>
      <input
        type="text"
        class="form-control"
        id="categoryNameInput"
        placeholder="Type new name here"
        formControlName="categoryName"
        [ngClass]="{
          'is-invalid': hasErrors('categoryName', 'required')
        }"
      />

      @if (hasErrors('categoryName','required')) {
      <span class="text-danger">Category name cannot be empty</span>
      }
    </div>
    <button type="submit" class="btn btn-outline-primary btn-sm">
      Update Name
    </button>
  </form>
</div>

<hr />

<div class="container">
  <form class="g-3" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="formFile" class="form-label">Logo: </label>
      <input
        class="form-control"
        type="file"
        id="formFile"
        (change)="onFileSelected($event)"
      />
    </div>
    <button
      type="button"
      class="btn btn-outline-primary btn-sm mb-3"
      (click)="updateLogo()"
    >
      Update Logo
    </button>
  </form>
</div>
