.icon-small {
  width: 24px;
  height: 24px;
}
.dateInput {
  width: 100%; /* Asegura que el campo ocupe todo el ancho de la columna */
  box-sizing: border-box;  /*Incluye el padding y el borde en el ancho del elemento */

  height: 80px;
  font-size: small;
  padding: 0.2em;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%; /* Establece el ancho máximo al 100% del contenedor padre */
  margin: 0 auto;
  justify-content: space-between;
}

.btn-group > button {
  flex: 1; /* Hace que los botones ocupen el mismo espacio dentro del contenedor */
  /* margin-right: 5px;  Agrega un margen entre los botones */
}
