<nav
  class="navbar navbar-expand-lg bg-dark border-bottom border-body"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Importar Artículo -->
        <li class="nav-item">
          <button
            class="btn btn-outline-info"
            (click)="importSelectedProducts()"
          >
            Import products
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <form
        #brandForm="ngForm"
        (ngSubmit)="searchProducts()"
        class="mb-3 text-center"
      >
        <select
          class="form-control form-control-sm mb-2"
          name="supplierId"
          [ngModel]="selectedSupplierId"
          (ngModelChange)="onSupplierChange($event)"
        >
          <option value="">All Suppliers</option>
          <option *ngFor="let supplier of suppliers" [value]="supplier.id">
            {{ supplier.name }}
          </option>
        </select>

        <select
          class="form-control form-control-sm mb-2"
          name="brand"
          [(ngModel)]="selectedBrand"
        >
          <option value="">All Brands</option>
          <option *ngFor="let brand of brands" [value]="brand">
            {{ brand }}
          </option>
        </select>

        <div class="form-group d-flex">
          <input
            type="text"
            class="form-control row-8 flex-grow-1"
            id="searchTerm"
            placeholder="Enter search term and press enter to search"
            [(ngModel)]="searchTerm"
            name="searchTerm"
            (keyup.enter)="searchProducts()"
          />

          <button type="submit" class="btn btn-outline-primary btn-sm">
            Search
          </button>
        </div>
      </form>
    </div>

    <div class="col">
      <div class="row">
        <div class="row">
          @if(selectedBrand.length > 0){
          <p class="card bg-secondary text-light">{{ selectedBrand }}</p>
          }
        </div>
        @if(productList.length > 0){
        <p>{{ productList.length }} products found</p>
        }
      </div>
      @if(successMessage){
      <div class="card bg-success text-light">
        <h5>{{ successMessage }}</h5>
      </div>
      } @if(errorMessage){
      <div class="card bg-danger text-light">
        <h5>{{ errorMessage }}</h5>
      </div>
      }
    </div>

    <div class="col">

      <form>
        <div class="mb-3">
          
        </div>
        <div class="mb-3">
          <label for="fileInput" class="form-label">Upload Prices List</label>
          <input type="file" class="form-control" id="fileInput">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Update existing products</label>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
      </form>
      
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="table-responsive" id="table-container">
    <table class="table table-stripped table-hover align-middle table-sm">
      <thead class="table-dark">
        <tr>
          <th scope="col">
            <input type="checkbox" (change)="selectAllProducts($event)" />
          </th>
          <th scope="col">#Id</th>
          <th scope="col">Brand</th>
          <th scope="col">Code</th>
          <th scope="col">Model</th>
          <th scope="col">Description</th>
          <th scope="col">Category</th>
          <th scope="col">Date</th>
          <th scope="col">Price</th>
          <th scope="col">Selling Price</th>
          <th scope="col">Web Price</th>
          <th scope="col">Stock</th>
          <th scope="col">Barcode</th>
          <th scope="col">currency</th>
          <th class="nowrap" scope="col">Tax Rate</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let product of productList; let i = index">
          <td>
            <input
              type="checkbox"
              (change)="toggleSelection($event, product)"
              [checked]="isSelected(product)"
            />
          </td>
          <td id="id">{{ product.id }}</td>
          <td>{{ product.brand }}</td>
          <td>{{ product.code }}</td>
          <td>{{ product.model }}</td>
          <td class="description-cell">{{ product.description }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.lastUpdate }}</td>

          <td>{{ product.price }}</td>
          <td>{{ product.suggestedPrice | currency }}</td>
          <td>{{ product.suggestedWebPrice | currency }}</td>
          <td>{{ product.stockAvailable }}</td>
          <td>{{ product.barcode }}</td>
          <td>{{ product.currency }}</td>
          <td>{{ product.taxRate * 100 }} %</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
