<app-product-navbar></app-product-navbar>

<div
  class="btn-group btn-group-sm"
  role="group"
  aria-label="Basic outlined example"
>
  <button
    type="button"
    class="btn btn-outline-secondary"
    [ngClass]="{ active: selectedComponent === 'product' }"
    (click)="selectedComponent = 'product'"
  >
    Product
  </button>
  <button
    type="button"
    class="btn btn-outline-secondary"
    [ngClass]="{ active: selectedComponent === 'fichaTecnica' }"
    (click)="selectedComponent = 'fichaTecnica'"
  >
    Ficha Tecnica
  </button>
  <button
    type="button"
    class="btn btn-outline-secondary"
    [ngClass]="{ active: selectedComponent === 'proveedor' }"
    (click)="selectedComponent = 'proveedor'"
  >
    Proveedor
  </button>
  <button
    type="button"
    class="btn btn-outline-secondary"
    [ngClass]="{ active: selectedComponent === 'codigos' }"
    (click)="selectedComponent = 'codigos'"
  >
    Codigos
  </button>
  <button
    type="button"
    class="btn btn-outline-secondary"
    [ngClass]="{ active: selectedComponent === 'varios' }"
    (click)="selectedComponent = 'varios'"
  >
    Varios
  </button>
  <button
    type="button"
    class="btn btn-outline-secondary"
    [ngClass]="{ active: selectedComponent === 'stock' }"
    (click)="selectedComponent = 'stock'"
  >
    Stock
  </button>
  <button
    type="button"
    class="btn btn-outline-secondary"
    [ngClass]="{ active: selectedComponent === 'tarjetas' }"
    (click)="selectedComponent = 'tarjetas'"
  >
    Pago Tarjetas
  </button>
  <button
    type="button"
    class="btn btn-outline-secondary"
    [ngClass]="{ active: selectedComponent === 'especificaciones' }"
    (click)="selectedComponent = 'especificaciones'"
  >
    Especificaciones
  </button>
</div>

<div class="container" id="tag-container">
  <ng-container [ngSwitch]="selectedComponent">
    <app-product-detail
      *ngSwitchCase="'product'"
      [product]="selectedProduct"
    ></app-product-detail>
    <div *ngSwitchCase="'fichaTecnica'">
      <p>Ficha Tecnica</p>
    </div>
    <div *ngSwitchCase="'proveedor'">
      <p>Proveedor</p>
    </div>
    <div *ngSwitchCase="'codigos'">
      <p>Codigos</p>
    </div>
    <div *ngSwitchCase="'varios'">
      <p>varios</p>
    </div>
    <div *ngSwitchCase="'stock'">
      <p>Stock</p>
    </div>
    <div *ngSwitchCase="'tarjetas'">
      <p>tarjetas</p>
    </div>
    <div *ngSwitchCase="'especificaciones'">
      <p>especificaciones</p>
    </div>
  </ng-container>
</div>
<hr />
<div class="container">
  <app-product-search
    (search)="handleSearch($event)"
    (searchStock)="handleSearchWithStock($event)"
  ></app-product-search>
  @if(productList.length == 0 && isFormSubmitted){
  <div class="card bg-light">
    <h4>No elements found in this search</h4>
  </div>
  }@else{
  <app-product-list
    [productList]="productList"
    (selectProduct)="selectProduct($event)"
  >
  </app-product-list>
  }
</div>
