<div class="table-responsive" id="table-container">
  <table class="table table-striped table-hover align-middle table-sm">
    <thead class="table-dark">
      <tr>
        <th scope="col">item</th>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Tax Rate</th>
        <th scope="col">Discount</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of invoiceItems; let i = index"
        formGroup="invoiceItemFormGroups[i]"
      >
        <td>{{ invoiceItems.indexOf(item) + 1 }}</td>
        <td>{{ item.brandName }}</td>
        <td>{{ item.model }}</td>
        <td class="description-cell">{{ item.description }}</td>

        <td>
          <input
            formControlName="itemPrice"
            type="text"
            class="form-control"
            placeholder="{{ item.price | currency }} "
          />
        </td>
        <td>
          <input
            formControlName="itemTaxRate"
            type="text"
            class="form-control"
            placeholder="{{ item.taxRate * 100 }}%"
          />
        </td>
        <td>
          <input
            formControlName="itemDiscount"
            type="text"
            class="form-control"
            placeholder="{{ item.discount }}%"
          />
        </td>
        <td>
          <input
            formControlName="itemQuantity"
            type="text"
            class="form-control"
            placeholder="{{ item.quantity }}"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
