<nav
  class="navbar navbar-expand-lg bg-dark border-bottom border-body"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Alta baja y modificacion -->
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img
              class="icon-small"
              src="../../../../assets/icons/add-48.png"
              alt="Add"
            />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img
              class="icon-small"
              src="../../../../assets/icons/cancel-48.png"
              alt="Delete"
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img
              class="icon-small"
              src="../../../../assets/icons/edit-48.png"
              alt="Edit"
          /></a>
        </li>

        <!-- Modificaciones -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Modificaciones</a
          >

          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#"
                >Modificacion Rápida de Artículos</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Modificacion Rapida de especificaciones</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#">Modificacion de Paquete</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Crear Paquetes Relacionados</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Modificacion de la fabricacion propia</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#">Cargar codigos de barra EAN</a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Articulos complementarios</a
              >
              <ul class="dropdown-menu sub-menu">
                <li><a class="dropdown-item" href="#">Por Articulo</a></li>
                <li><a class="dropdown-item" href="#">Por Rubro</a></li>
              </ul>
            </li>

            <li>
              <hr class="dropdown-divider" />
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Fotografías
              </a>
              <ul class="dropdown-menu sub-menu">
                <li><a class="dropdown-item" href="#">Cargar fotografía</a></li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Cargar fotografía por Marca</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Cargar fotografía desde Carpeta</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">ABM Fotografías</a></li>

                <li>
                  <hr class="dropdown-divider" />
                </li>

                <li>
                  <a class="dropdown-item" href="#"
                    >Grabar imágenes como archivos JPEG´s</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#">Personalizar tamaños</a>
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Actualizaciones Masivas
              </a>
              <ul class="dropdown-menu sub-menu">
                <li>
                  <a class="dropdown-item" href="#"
                    >Asignar redondeo a articulos dolarizados</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Cantidades minimas de veneta por mayor</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">Comisiones</a></li>
                <li><a class="dropdown-item" href="#">Descuentos</a></li>
                <li>
                  <a class="dropdown-item" href="#">Internal Taxes</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Porcentajes de markup por rubro</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">Precios</a></li>
                <li>
                  <a class="dropdown-item" href="#">Precios: Redondear</a>
                </li>
                <li><a class="dropdown-item" href="#">Promociones</a></li>
                <li><a class="dropdown-item" href="#">Tabla de talles</a></li>
              </ul>
            </li>

            <li>
              <a class="dropdown-item" href="#"
                >Relacionar mis articulos con los del proveedor</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#">Unificar articulos repetidos</a>
            </li>

            <li>
              <hr class="dropdown-divider" />
            </li>

            <li>
              <a class="dropdown-item" href="#"
                >Editar vista de columnas de artículos</a
              >
            </li>

            <li>
              <hr class="dropdown-divider" />
            </li>

            <li>
              <a class="dropdown-item" href="#"
                >Publicar mi lista de articulos de venta al comercio</a
              >
            </li>
          </ul>
        </li>

        <!-- Varios -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Varios</a
          >

          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#"
                >Pedido de articulo al proveedor</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#">Enviar articulo al service</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Recepcion de mercadería en consignacion</a
              >
            </li>

            <li><hr class="dropdown-divider" /></li>

            <li><a class="dropdown-item" routerLink="/brand">Marcas</a></li>

            <li>
              <a class="dropdown-item" routerLink="/category"
                >Rubros y Grupos</a
              >
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Asignaciones</a
              >
              <ul class="dropdown-menu sub-menu">
                <li>
                  <a class="dropdown-item" href="#">Proveedor por Marca</a>
                </li>
                <li><a class="dropdown-item" href="#">Rubros</a></li>
                <li><a class="dropdown-item" href="#">Marcas</a></li>
              </ul>
            </li>

            <li>
              <a class="dropdown-item" href="#"
                >Importar Articulos desde Excel</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Comision especial por este artículo</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#">Buscar artículos por acopio</a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Departamentos</a
              >

              <ul class="dropdown-menu sub-menu">
                <li><a class="dropdown-item" href="#">ABM</a></li>
                <li><a class="dropdown-item" href="#">Asignar Artículos</a></li>
              </ul>
            </li>

            <li><hr class="dropdown-divider" /></li>

            <li><a class="dropdown-item" href="#">Listado de Precios</a></li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Auditar Precios
              </a>
              <ul class="dropdown-menu sub-menu">
                <li>
                  <a class="dropdown-item" href="#"
                    >Artículos con precio menor a</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- Stock -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Stock</a
          >

          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">Realizar movimiento de stock</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Realizar movimiento de stock por grupo de artículos</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Realizar Movimiento de stock por fabricación</a
              >
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Stock de vehiculo</a
              >

              <ul class="dropdown-menu sub-menu">
                <li><a class="dropdown-item" href="#">Ver seleccionado</a></li>
                <li><a class="dropdown-item" href="#">Buscar</a></li>
                <li>
                  <a class="dropdown-item" href="#">Importación Masiva</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#">Ver movimiento de stock</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Ver movimiento de stock por grupo de artículos</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Ver stock de despacho a plaza</a
              >
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Ver stock reservado</a
              >

              <ul class="dropdown-menu sub-menu">
                <li>
                  <a class="dropdown-item" href="#">Articulo seleccionado</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Todos los artículos</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Reservar manualmente desde CSV</a
                  >
                </li>
              </ul>
            </li>

            <li>
              <a class="dropdown-item" href="#">Ver stock de numero de serie</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Articulos vendidos a reponer</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Historial de los precios de compra</a
              >
            </li>

            <li><hr class="dropdown-divider" /></li>

            <li>
              <a class="dropdown-item" href="#">Volver el stock a cero</a>
            </li>
            <li><a class="dropdown-item" href="#">Total de stock</a></li>
            <li><hr class="dropdown-divider" /></li>

            <li>
              <a class="dropdown-item" href="#">Realizacion de inventario</a>
            </li>

            <li>
              <a class="dropdown-item" href="#">Movilizar stock negativo</a>
            </li>
          </ul>
        </li>

        <!-- Listados -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Listados</a
          >

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Articulos</a></li>
            <li><a class="dropdown-item" href="#">Listado simple</a></li>
            <li><a class="dropdown-item" href="#">Listado de insumos</a></li>
            <li>
              <a class="dropdown-item" href="#"
                >Listado de paquetes y sus componentes</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#">Listado solo de precios</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Listado de ubicaciones</a>
            </li>
            <li><a class="dropdown-item" href="#">Listado de vehiculos</a></li>

            <li><hr class="dropdown-divider" /></li>

            <li><a class="dropdown-item" href="#">Informe de ventas</a></li>

            <li><hr class="dropdown-divider" /></li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Impresion de etiquetas</a
              >

              <ul class="dropdown-menu sub-menu">
                <li><a class="dropdown-item" href="#">Codigo de barras</a></li>
                <li>
                  <a class="dropdown-item" href="#">Impresora estandar</a>
                </li>
              </ul>
            </li>

            <li><hr class="dropdown-divider" /></li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Stock</a
              >

              <ul class="dropdown-menu sub-menu">
                <li>
                  <a class="dropdown-item" href="#">Stock por sucursales</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Stock por depósitos</a>
                </li>
                <li><a class="dropdown-item" href="#">Despachos a plaza</a></li>

                <li><hr class="dropdown-divider" /></li>

                <li>
                  <a class="dropdown-item" href="#"
                    >Informe de productos unificado</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- Lista proveedor -->

        <li class="nav-item">
          <a class="nav-link" routerLink="/supplierPriceList"
            >Lista Proveedor</a
          >
        </li>

        <!-- Ocultos -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Ocultos</a
          >

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Ocultar este artículo</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Administración de ocultos</a>
            </li>
          </ul>
        </li>

        <!-- Facturar -->

        <li class="nav-item">
          <a class="nav-link" href="#">Facturar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
