.card{
    /* display: flex; */
    justify-content: center;
    
}

img{
    max-width: 50%;
    justify-content: center;
    position: relative;
}

h5{
    text-align: center;
}

.btn{
    margin: 3px;
}