<div class="row">
  <form
    #searchForm="ngForm"
    (ngSubmit)="onSearch()"
    class="row mb-3 text-center col-md-8"
  >
    <div class="col-md-8">
      <input
        type="text"
        class="form-control"
        id="searchTerm"
        placeholder="Enter search term and press enter"
        [(ngModel)]="searchTerm"
        name="searchTerm"
        (keyup)="onKeyUp($event)"
      />
      @if(isFormSubmitted && searchTerm.length < 3){
      <div class="text-danger">
        Search term must be at least 3 characters long
      </div>
      }
    </div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-outline-primary btn-sm">
        Search
      </button>
      <button
        type="button"
        class="btn btn-outline-success btn-sm"
        (click)="searchWithStock()"
      >
        with Stock
      </button>
    </div>
  </form>
</div>
