<div class="container">
  <form
    [formGroup]="brandForm"
    class="row g-3 needs-validation"
    novalidate
    (submit)="enviar($event)"
  >
    <div class="mb-3">
      <label for="brandNameInput" class="form-label">Brand Name:</label>
      <input
        type="text"
        class="form-control"
        id="brandNameInput"
        placeholder="add new Brand Name"
        formControlName="brandName"
        [ngClass]="{
          'is-invalid': hasErrors('brandName', 'required')
        }"
      />
      @if (hasErrors('brandName','required')) {
      <span class="text-danger">Brand name cannot be empty</span>
      }
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>

  <button class="btn btn-outline-danger" (click)="toList()">Cancel</button>
</div>
