h1 {
    text-align: center;
  }
  #id {
    white-space: nowrap;
    font-size: small;
  }
  
  .table-responsive {
    max-width: 100%;
    overflow-x: scroll;
  }
  #page-title {
    margin: 30px;
  }
  
  #tag-container {
    height: 233px;
    overflow: auto;
  }
  
  #table-container {
    height: 400px;
    overflow-y: auto;
  }
  
  .table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    /*background-color: white; /* Asegúrate de que los encabezados sean visibles */
  }
  
  .nowrap {
    white-space: nowrap; /* Evita que el contenido se divida en varias líneas */
    overflow: hidden; /* Oculta el contenido excedente */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) si el contenido se desborda */
  }
  
  .description-cell {
    white-space: nowrap; /* Evita que el contenido se divida en varias líneas */
    overflow: hidden; /* Oculta el contenido excedente */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) si el contenido se desborda */
    max-width: 300px; /* Establece el tamaño máximo para la celda */
  }
  
  .btn-group {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%; /* Establece el ancho máximo al 100% del contenedor padre */
    margin: 0 auto;
    justify-content: space-between;
  }
  
  .btn-group > button {
    flex: 1; /* Hace que los botones ocupen el mismo espacio dentro del contenedor */
    /* margin-right: 5px;  Agrega un margen entre los botones */
  }
  