<div class="container">
    <form>
      <!-- Datos generales -->
      <fieldset>
        <legend>General Data</legend>
        <div class="form-group mb-3">
          <label for="brand" class="form-label">Brand</label>
          <select class="form-control" id="brand">
            <!-- OPTIONS -->
          </select>
        </div>
        <div class="form-group">
          <label for="model" class="form-label">Model</label>
          <input type="text" class="form-control" id="model">
        </div>
        <div class="form-group">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" id="description">
        </div>
        <div class="form-group">
          <label for="supplier" class="form-label">Supplier</label>
          <select class="form-control" id="supplier">
            <!-- OPTIONS -->
          </select>
        </div>
        <div class="form-group">
          <label for="category" class="form-label">Category</label>
          <select class="form-control" id="category">
            <!-- OPTIONS -->
          </select>
        </div>
      </fieldset>
      
      <hr>
      
      <!-- Detalles -->
      <fieldset>
        <legend>Codes</legend>
        <div class="form-group">
          <label for="barcode" class="form-label">Barcode</label>
          <input type="text" class="form-control" id="barcode">
        </div>
        <div class="form-group">
          <label for="supplierCode" class="form-label">Supplier Code</label>
          <input type="text" class="form-control" id="supplierCode">
        </div>
      </fieldset>

      <hr>
      
      <!-- Precios -->
      <fieldset>
        <legend>Purchase Prices</legend>
        <div class="form-group">
          <label for="purchasePrice" class="form-label">Purchase Price</label>
          <input type="text" class="form-control" id="purchasePrice">
        </div>
        <div class="form-group">
          <label for="currency" class="form-label">Currency</label>
          <select class="form-control" id="currency">
            <option value="currency">$</option>
            <option value="currency">EU</option>
            <option value="currency">USD</option>
          </select>
        </div>
        <div class="form-group">
          <label for="discount" class="form-label">Discount</label>
          <input type="text" class="form-control" id="discount">%
        </div>
        <div class="form-group">
          <label for="taxRate" class="form-label">Tax Rate</label>
          <input type="text" class="form-control" id="taxRate">
        </div>
        Costo contado
        FOB + currency
        Lista proveedor menos descuento
        impuesto interno
      </fieldset>

      Precios de venta
      check mantener porcentaje
      check mantener precio

      Precio mayorista
      Precio Oferta
      Precio Lista
      Precio comercio
      Precio Alternativo


      Habilitaciones
      publicado en web
      doble unidad de stock
      etiqueta de gondola
      insumo
      Destacado en web
      Stock fraccionable
      LLeva numero de serie
      Servicio
      Precio visible en web
      Se vende por mayor
      Fabricacion propia


      Dimensiones y peso
      Alto
      Profundidad
      Ancho
      Peso
      Volumen

      Ficha técnica

      Descripcion larga
      Fotos
      Articulos complementarios
      SEO

      Etiquetas
      Asignacion libre
      Existentes


      Otros datos
      Comision
      Garantia
      Compra minima por mayor
      Stock minimo
      Unidades por caja
      Ubicacion
      Venta minima por mayor
      Factor de doble unidad de stock
      Stock minimo


      <hr>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  